.container {
    min-height: 297px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 24px;
}
.containerBackground {
    background-image: url(../../assets/green-line-background.png);
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    color: #2a2d34;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    margin-bottom: 10px;
    margin-top: 20px;
}
@media screen and (max-width: 767px) {
    .title {
        margin-top: 0px;
        font-size: 30px;
        line-height: 30px;
    }
}

.subtitle {
    width: 50%;
    max-width: 683px;
    color: #707070;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    text-align: center;
    margin-right: auto;
    margin-bottom: 24px;
    margin-left: auto;
}
@media screen and (max-width: 767px) {
    .subtitle {
        width: 100%;
        margin-bottom: 41px;
        font-size: 16px;
        line-height: 22px;
    }
}