.container {
    min-height: 297px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 24px;
}
@media screen and (max-width: 767px) {
    .container {
        min-height: 224px;
    }
}

.containerBackground {
    background-image: url(../../assets/green-line-background.png);
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    color: var(--hero-title-color);
    font-size: var(--hero-title-font-size);
    font-weight: var(--hero-title-font-weight);
    font-family: var(--hero-title-font-family);
    line-height: 48px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}
@media screen and (max-width: 767px) {
    .title {
        margin-top: 0px;
        font-size: calc(0.625 * var(--hero-title-font-size));
        line-height: 30px;
    }
}

.subtitle {
    width: 50%;
    max-width: 683px;
    color: var(--hero-subtitle-color);
    font-size: var(--hero-subtitle-font-size);
    line-height: 25px;
    font-weight: var(--hero-subtitle-font-weight);
    font-family: var(--hero-subtitle-font-family);
    text-align: center;
    margin-right: auto;
    margin-bottom: 24px;
    margin-left: auto;
}
@media screen and (max-width: 767px) {
    .subtitle {
        width: 100%;
        margin-bottom: 41px;
        font-size: calc(0.889 * var(--hero-subtitle-font-size));
        line-height: 22px;
    }
}