.toggleSwitchContainer {
    display: flex;
    width: 229px;
    height: 42px;
    padding: 4px 5px;
    justify-content: space-between;
    border: var(--toggle-container-border);
    border-radius: var(--toggle-container-border-radius);
    background-color: var(--toggle-container-background-color);
}

.toggleSwitchBtn {
    display: flex;
    width: 108px;
    justify-content: center;
    align-items: center;
    border-radius: var(--toggle-button-border-radius);
    background-color: var(--toggle-button-active-background-color);
    color: var(--toggle-button-active-color);
    line-height: 14px;
    font-weight: var(--toggle-button-active-font-weight);
    letter-spacing: var(--toggle-button-letter-spacing);
    transition: var(--toggle-button-transition);
}

.inactive {
    background-color: var(--toggle-button-inactive-background-color);
    color: var(--toggle-button-inactive-color);
    font-weight: var(--toggle-button-inactive-font-weight);
}