.formSelect {
    color: var(--form-field-text-color);
    font-size: var(--form-field-font-size);
    font-family: var(--form-field-font-family);
    font-weight: var(--form-field-font-weight);
    line-height: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    appearance: none;
    border-color: var(--form-field-border-color);
    border-bottom: var(--form-field-border-bottom);
    /* border: 1px solid #f2545b; error message */
}
.formSelect:focus-visible {
    outline: var(--form-field-focus);
    border-radius: var(--form-field-border-radius);
}