.formSelect {
    color: #707070;
    font-size: 16px;
    font-family: var(--font-primary);
    font-weight: 300;
    line-height: 20px;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    appearance: none;
    border: none;
    border-bottom: 1px solid #ededed;
    /* border: 1px solid #f2545b; */
}
.formSelect:focus-visible {
    outline: 1px solid #707070;
}