.baseButton {
    display: flex;
    min-width: 130px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 250ms ease;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: proxima-nova, sans-serif;
    border: none;
}

.primaryButton {
    background-color: #4cb53c;
    padding: 12px 30px;
}
.primaryButton:hover {
    background-color: #029f36;
}

.secondaryButton {
    background-color: #1a1a1a;
    padding: 10px 40px;
}
.secondaryButton:hover {
    background-color: #3f3f3f;
}