.form {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px 8px;
    padding: 20px;
}
@media (max-width: 767px) {
    .form {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding: 10px;
    }
}