.tabHeadingLink {
    font-weight: var(--tabs-font-weight);
    background-color: var(--tabs-background-color);
    color: var(--tabs-color);
    font-size: var(--tabs-font-size);
    letter-spacing: var(--tabs-letter-spacing);
    text-transform: var(--tabs-text-transform);
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.tabHeadingLinkActive {
    border-bottom: var(--tabs-active-border-bottom);
}

.tabsContent {
    position: relative;
    display: block;
    overflow: hidden;
}

.tabsHeading {
    margin-bottom: 68px;
}

.tabPane {
    max-width: 78%;
    margin-bottom: 65px;
    margin: 0 auto;
}