.formGroup {
    display: flex;
    flex-direction: column;
}
.formLabel {
    color: var(--form-label-text-color);
    font-size: var(--form-label-font-size);
    line-height: 15px;
    margin-top: 10px;
    text-transform: var(--form-label-text-transform);
    font-weight: var(--form-label-font-weight);
    letter-spacing: var(--form-label-letter-spacing);
}
.formRequired {
    color: var(--form-label-required-text-color);
    margin-left: 4px;
    font-size: var(--form-label-required-symbol-size);
}

.formGroup:nth-child(1), 
.formGroup:nth-child(2) {
    grid-column: span 1;
}
.formGroup:nth-child(n + 3) {
    grid-column: 1 / -1;
}