.section {
  display: grid;
  grid-row-gap: 22px;
}
@media (min-width: 767px) {
  .section {
    max-width: 800px;
    margin-inline: auto;
  }
}
@media (min-width: 767px) {
  .sectionColTwo {
    column-gap: 80px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 767px) {
  .sectionColThree {
    column-gap: 22px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}