.modalOverlay {
  position: fixed;
  top: -9%;
  left: 0;
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-image: linear-gradient(180deg, hsla(0, 0%, 62.7%, 0.5), hsla(0, 0%, 62.7%, 0.5));
}

.modalContent {
  border-radius: 5px;
  max-width: 960px;
  width: 90%;
  position: relative;
  background-color: #fff;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 8px;
  background: none;
  border: none;
  cursor: pointer;
  color: #4cb53c;
  font-size: 26px;
  font-weight: 900;
  transform: rotate(45deg);
  padding: 0;
}