.formInput {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
    color: var(--form-input-text-color);
    font-size: var(--form-input-font-size);
    font-weight: var(--form-input-font-weight);
    font-family: var(--form-input-font-family);
    letter-spacing: var(--form-input-letter-spacing);
    border-radius: var(--form-input-border-radius);
    border-width: var(--form-input-border-width);
    border-style: var(--form-input-border-style);
    border-color: var(--form-input-border-color);
    border-bottom-color: var(--form-input-border-bottom-color);
    /* error message
    border-width: 1px;
    border-style: solid;
    border-color: #f2545b; */
}
.formInput:focus-visible {
    outline-width: var(--form-input-outline-width);
    outline-style: var(--form-input-outline-style);
    outline-color: var(--form-input-outline-color);
}