.formInput {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
    color: #707070;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-primary);
    letter-spacing: 1.4px;
    border-radius: 5px;
    border: 1px solid transparent;
    border-bottom: 1px solid #ededed;
    /* border: 1px solid #f2545b; */
}
.formInput:focus-visible {
    outline: 1px solid #707070;
}