.container {
    padding: 20px;
}
.divider {
    margin: 20px 0;
    border-width: var(--footer-divider-border-width);
    border-style: var(--footer-divider-border-style);
    border-color: var(--footer-divider-border-color);
}
@media screen and (min-width: 767px) {
    .divider {
        margin: 35px 0;
    }
}