@font-face{
  font-family:proxima-nova;
  src:
    url(https://use.typekit.net/af/e3ed45/00000000000000007735e602/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n9&v=3) 
    format("woff2"),url(https://use.typekit.net/af/e3ed45/00000000000000007735e602/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n9&v=3) 
    format("woff"),url(https://use.typekit.net/af/e3ed45/00000000000000007735e602/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n9&v=3) 
    format("opentype");
  font-weight:900;
  font-style:normal;
  font-stretch:normal;
  font-display:swap;
}

@font-face{
  font-family:proxima-nova;
  src:
    url(https://use.typekit.net/af/2555e1/00000000000000007735e603/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3) 
    format("woff2"),url(https://use.typekit.net/af/2555e1/00000000000000007735e603/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3) 
    format("woff"),url(https://use.typekit.net/af/2555e1/00000000000000007735e603/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3) 
    format("opentype");
  font-weight:700;
  font-style:normal;
  font-stretch:normal;
  font-display:swap;
}

@font-face{
  font-family:proxima-nova;
  src:
    url(https://use.typekit.net/af/78aca8/00000000000000007735e60d/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3) 
    format("woff2"),url(https://use.typekit.net/af/78aca8/00000000000000007735e60d/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3) 
    format("woff"),url(https://use.typekit.net/af/78aca8/00000000000000007735e60d/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3) 
    format("opentype");
  font-weight:600;
  font-style:normal;
  font-stretch:normal;
  font-display:swap;
}

@font-face{
  font-family:proxima-nova;
  src:
    url(https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3) 
    format("woff2"),url(https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3) 
    format("woff"),url(https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3) 
    format("opentype");
  font-weight:400;
  font-style:normal;
  font-stretch:normal;
  font-display:swap;
}

@font-face{
  font-family:proxima-nova;
  src:
    url(https://use.typekit.net/af/3322cc/00000000000000007735e616/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3) 
    format("woff2"),url(https://use.typekit.net/af/3322cc/00000000000000007735e616/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3) 
    format("woff"),url(https://use.typekit.net/af/3322cc/00000000000000007735e616/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3) 
    format("opentype");
  font-weight:400;
  font-style:italic;
  font-stretch:normal;
  font-display:swap;
}

@font-face{
  font-family:proxima-nova;
  src:
    url(https://use.typekit.net/af/1be3c2/00000000000000007735e606/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3) 
    format("woff2"),url(https://use.typekit.net/af/1be3c2/00000000000000007735e606/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3) 
    format("woff"),url(https://use.typekit.net/af/1be3c2/00000000000000007735e606/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3) 
    format("opentype");
  font-weight:300;
  font-style:normal;
  font-stretch:normal;
  font-display:swap;
}

@font-face{
  font-family:proxima-nova;
  src:
    url(https://use.typekit.net/af/40d372/00000000000000007735e607/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i3&v=3) 
    format("woff2"),url(https://use.typekit.net/af/40d372/00000000000000007735e607/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i3&v=3) 
    format("woff"),url(https://use.typekit.net/af/40d372/00000000000000007735e607/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i3&v=3) 
    format("opentype");
  font-weight:300;
  font-style:italic;
  font-stretch:normal;
  font-display:swap;
}

@font-face{
  font-family:proxima-nova-condensed;
  src:
    url(https://use.typekit.net/af/a86e2c/00000000000000007735e610/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3) 
    format("woff2"),url(https://use.typekit.net/af/a86e2c/00000000000000007735e610/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3) 
    format("woff"),url(https://use.typekit.net/af/a86e2c/00000000000000007735e610/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3) 
    format("opentype");
  font-weight:200;
  font-style:normal;
  font-stretch:normal;
  font-display:swap;
}

@font-face{
  font-family:proxima-nova-condensed;
  src:
    url(https://use.typekit.net/af/173dd4/00000000000000007735e61a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3) 
    format("woff2"),url(https://use.typekit.net/af/173dd4/00000000000000007735e61a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3) 
    format("woff"),url(https://use.typekit.net/af/173dd4/00000000000000007735e61a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3) 
    format("opentype");
  font-weight:200;
  font-style:italic;
  font-stretch:normal;
  font-display:swap;
}

:root {
  --primary-text-color: #2a2d34;

  --font-primary: proxima-nova, sans-serif;
  --font-secondary: proxima-nova-condensed, sans-serif;
  --font-extra-bold:900;
  --font-bold:700;
  --font-semibold:600;
  --font-medium:400;
  --font-light:300;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--primary-text-color);
  font-family: var(--font-primary);
  font-weight: var(--font-medium);
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
  color: #0067ee;
  text-decoration: underline;
}

button {
  color: inherit;
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
}

button, [type='button'], [type='reset'] {
  border: 0;
  cursor: pointer;
}