.linkDefault {
    color: var(--link-default-color);
    font-size: var(--link-default-font-size);
    font-weight: var(--link-default-font-weight);
    font-family: var(--link-default-font-family);
    text-decoration: none;
}

.linkArrow {
    color: var(--link-arrow-color);
    font-size: var(--link-arrow-font-size);
    font-weight: var(--link-arrow-font-weight);
    font-family: var(--link-arrow-font-family);
    text-decoration: none;
}
.linkArrowSymbol {
    font-weight: var(--link-arrow-symbol-font-weight);
    font-size: var(--link-arrow-symbol-font-size);
    padding-left: 4px;
}
.linkNavigation {
    color: var(--link-navigation-color);
    font-size: var(--link-navigation-font-size);
    font-weight: var(--link-navigation-font-weight);
    font-family: var(--link-navigation-font-family);
    text-decoration: none;
    text-transform: none;
    transition: color 0.3s ease;
}

.linkNavigation:hover {
    color: var(--link-navigation-color-hover);
}