.card {
    display: flex;
    padding: 20px 30px 30px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 0 auto;
    border: var(--pricing-card-border);
    border-radius: var(--pricing-card-border-radius);
    min-width: 0;
}

.cardTitle {
    margin-right: auto;
    margin-bottom: 18px;
    margin-left: auto;
    color: var(--pricing-card-title-color);
    font-size: var(--pricing-card-title-font-size);
    line-height: 25px;
    font-weight: var(--pricing-card-title-font-weight);
    text-align: center;
    letter-spacing: var(--pricing-card-title-letter-spacing);
    text-transform: var(--pricing-card-title-text-transform);
}

.cardAmount {
    align-items: flex-end;
    color: var(--pricing-card-amount-color);
    font-size: var(--pricing-card-amount-font-size);
    line-height: 25px;
    font-weight: var(--pricing-card-amount-font-weight);
    margin-bottom: 10px;
}

.cardFrequency {
    color: var(--pricing-card-frequency-color);
    font-size: var(--pricing-card-frequency-font-size);
    font-weight: var(--pricing-card-frequency-font-weight);
}

.cardSubtitle {
    margin-bottom: 6px;
    color: var(--pricing-card-subtitle-color);
    font-size: var(--pricing-card-subtitle-font-size);
    line-height: 25px;
    font-style: var(--pricing-card-subtitle-font-style);
    font-weight: var(--pricing-card-subtitle-font-weight);
}

.featureList {
    min-height: 180px;
    margin-top: 27px;
    margin-bottom: 43px;
}

@media screen and (min-width: 991px) {
    .featureList {
        min-height: 140px;
    }
}

.featureContent {
    text-align: center;
}
